.header__logo {
  min-width: 142px;
  min-height: 33px;
  background-image: url('../../../images/header__logo.svg');
  background-repeat: no-repeat;
  margin: 0 0 41px;
  background-size: contain;
}

@media screen and (max-width: 568px) {
  .header__logo {
    margin-left: 27px;
    margin-bottom: 32px;
    min-width: 103px;
    min-height: 24px;
  }
}
