.header__list {
  display: flex;
  flex-direction: row;
  gap: 24px 0;
  margin: 0px;
  padding: 0px;
  gap: 0 24px;
  list-style: none;
}

@media screen and (max-width: 568px) {
  .header__list {
    flex-direction: column;

    align-items: center;
  }
}
