.profile {
  display: grid;
  grid-template-columns: min-content minmax(min-content, auto) 1fr;
  width: 100%;
  align-items: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}

@media screen and (max-width: 984px) {
  .profile {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
