.popup__close {
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
  max-width: 32px;
  max-height: 32px;
  background-color: transparent;
  border: 0;
  transition: opacity .3s;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 568px) {
  .popup__close {
    top: -40px;
    right: 0;
    align-self: flex-end;
    width: 20px;
    height: 20px;
  }
}

.popup__close:hover {
  opacity: .6;
}
