.footer {
  box-sizing: border-box;
  display: flex;
  max-width: 318px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}

@media screen and (min-width: 1180px) {
  .footer {
    max-width: 880px;
  }
}

@media screen and (max-width: 568px) {
  .footer {
    width: 100%;
    max-width: 282px;
  }
}
