.login__link {

  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  text-decoration: none;

  margin-top: 15px;
  margin-bottom: 0;

  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.login__link:hover {
  opacity: 0.6;
}
