.header {
  border-bottom: solid #545454 1px;
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}

